<div class="p-6">
  <!-- Bloc principal -->
  <div class="bg-gray-50 p-6 rounded-2xl shadow-md">

    <!-- Titre -->
    <div class="mb-6">
      <h2 class="text-xl font-semibold text-blue-600 flex items-center gap-2">
        <span class="w-1 h-6 bg-blue-300 rounded-sm inline-block"></span>
        Tableau de bord
      </h2>
    </div>
    <!-- Cards statistiques -->
    <!-- Cards statistiques -->
    <div
            class="grid grid-cols-1
           md:grid-cols-2
           xl:grid-cols-5
           gap-6 mb-8"
    >

      <!-- Total Produits -->
      <div
              class="bg-white rounded-2xl shadow-md p-5
           border-l-4 border-blue-500
           hover:shadow-lg transition"
      >

        <div class="flex items-center justify-between">

          <div>

            <p class="text-gray-500 font-medium text-sm">
              Total Produits
            </p>

            <h2 class="text-4xl font-bold text-blue-600 mt-2">
              {{ produits.length }}
            </h2>

          </div>

          <div
                  class="w-16 h-16 rounded-2xl
                   bg-blue-100 flex items-center justify-center"
          >

            <i class="ri-capsule-fill text-3xl text-blue-600"></i>

          </div>

        </div>

      </div>

      <!-- Quantité Totale -->
      <div
              class="bg-white rounded-2xl shadow-md p-5
           border-l-4 border-green-500
           hover:shadow-lg transition"
      >

        <div class="flex items-center justify-between">

          <div>

            <p class="text-gray-500 font-medium text-sm">
              Quantité Totale
            </p>

            <h2 class="text-4xl font-bold text-green-600 mt-2">
              {{ totalQuantite }}
            </h2>

          </div>

          <div
                  class="w-16 h-16 rounded-2xl
                   bg-green-100 flex items-center justify-center"
          >

            <i class="ri-stack-fill text-3xl text-green-600"></i>

          </div>

        </div>

      </div>

      <!-- Produits en rupture -->
      <div
              class="bg-white rounded-2xl shadow-md p-5
           border-l-4 border-yellow-500
           hover:shadow-lg transition"
      >

        <div class="flex items-center justify-between">

          <div>

            <p class="text-gray-500 font-medium text-sm">
              Produits en rupture
            </p>

            <h2 class="text-4xl font-bold text-yellow-600 mt-2">
              {{ produitsRupture.length }}
            </h2>

          </div>

          <div
                  class="w-16 h-16 rounded-2xl
                   bg-yellow-100 flex items-center justify-center"
          >

            <i class="ri-error-warning-fill text-3xl text-yellow-600"></i>

          </div>

        </div>

      </div>

      <!-- Produits indisponibles -->
      <div
              class="bg-white rounded-2xl shadow-md p-5
           border-l-4 border-red-500
           hover:shadow-lg transition"
      >

        <div class="flex items-center justify-between">

          <div>

            <p class="text-gray-500 font-medium text-sm">
              Produits indisponibles
            </p>

            <h2 class="text-4xl font-bold text-red-600 mt-2">
              {{ produitsIndisponibles.length }}
            </h2>

          </div>

          <div
                  class="w-16 h-16 rounded-2xl
                   bg-red-100 flex items-center justify-center"
          >

            <i class="ri-close-circle-fill text-3xl text-red-600"></i>

          </div>

        </div>

      </div>

      <!-- Expiration proche -->
      <div
              class="bg-white rounded-2xl shadow-md p-5
           border-l-4 border-orange-500
           hover:shadow-lg transition"
      >

        <div class="flex items-center justify-between">

          <div>

            <p class="text-gray-500 font-medium text-sm">
              Expiration proche
            </p>

            <h2 class="text-4xl font-bold text-orange-500 mt-2">
              {{ produitsExpirationProche.length }}
            </h2>

          </div>

          <div
                  class="w-16 h-16 rounded-2xl
                   bg-orange-100 flex items-center justify-center"
          >

            <i class="ri-alarm-warning-fill text-3xl text-orange-500"></i>

          </div>

        </div>

      </div>

    </div>r


    <!-- Section graphique + alertes -->
    <div class="flex flex-col xl:flex-row gap-6">

      <!-- Carte Graphique -->
      <div class="bg-white p-6 rounded-2xl shadow-md w-full xl:w-[420px]">

        <h3 class="text-xl font-semibold text-blue-600 text-center mb-6">
          Répartition des produits
        </h3>

        <!-- Graphique -->
        <div class="relative h-72 w-72 mx-auto mb-6">
          <canvas
                  baseChart
                  [data]="chartData"
                  [type]="'doughnut'"
                  [options]="{
    responsive: true,
    maintainAspectRatio: false,
    plugins: {
      legend: {
        display: false
      }
    }
  }"
          >
          </canvas>
          <div class="absolute inset-0 flex flex-col items-center justify-center">
  <span class="text-3xl font-bold text-yellow-500">
    {{ pourcentageAlerte }}%
  </span>

            <span class="text-sm text-gray-500 font-medium">
    Alertes
  </span>
          </div>
        </div>

        <!-- Légende -->
        <div class="flex justify-center gap-6 flex-wrap text-sm">

          <div class="flex items-center gap-2">
            <div class="w-8 h-2 rounded-full bg-green-500"></div>
            <span class="text-gray-500 font-medium">
              En stock
            </span>
          </div>

          <div class="flex items-center gap-2">
            <div class="w-8 h-2 rounded-full bg-yellow-400"></div>
            <span class="text-gray-500 font-medium">
              Alerte
            </span>
          </div>

          <div class="flex items-center gap-2">
            <div class="w-8 h-2 rounded-full bg-red-500"></div>
            <span class="text-gray-500 font-medium">
              Rupture
            </span>
          </div>

        </div>
      </div>

      <!-- Carte Alertes -->
      <div class="bg-white p-6 rounded-2xl shadow-md flex-1">

        <!-- Header -->
        <div class="flex items-center justify-between mb-6">

          <h3 class="text-xl font-semibold text-red-600 flex items-center gap-2">
            <i class="ri-alert-line"></i>
            Alertes Stock
          </h3>

          <span class="bg-red-100 text-red-600 text-sm font-semibold px-3 py-1 rounded-full">
            {{ alertStocks.length }} alertes
          </span>

        </div>

        <!-- Aucun problème -->
        <div
                *ngIf="alertStocks.length === 0"
                class="flex flex-col items-center justify-center h-[320px] text-gray-400"
        >

          <i class="ri-checkbox-circle-line text-6xl text-green-500 mb-4"></i>

          <p class="text-lg font-medium">
            Aucun problème détecté
          </p>

        </div>

        <!-- Liste des alertes -->
        <div class="space-y-4">

          <div
                  *ngFor="let stock of alertStocks"
                  class="group flex items-center justify-between bg-gray-50 border border-gray-100 rounded-2xl p-5 hover:shadow-md hover:border-yellow-200 transition duration-300"
          >

            <!-- Partie gauche -->
            <div class="flex items-center gap-4">

              <!-- Icône -->
              <div
                      class="w-16 h-16 rounded-2xl flex items-center justify-center"
                      [ngClass]="{
        'bg-red-100': stock.quantite <= 1,
        'bg-yellow-100': stock.quantite > 1
      }"
              >

                <i
                        class="text-3xl"
                        [ngClass]="{
          'ri-alarm-warning-line text-red-600': stock.quantite <= 1,
          'ri-alert-line text-yellow-600': stock.quantite > 1
        }"
                ></i>

              </div>

              <!-- Infos -->
              <div>

                <h4 class="text-xl font-bold text-gray-800 capitalize">
                  {{ stock.nom }}
                </h4>

                <div class="flex items-center gap-2 mt-1">

        <span class="text-gray-500">
          Quantité restante :
        </span>

                  <span
                          class="font-bold text-lg"
                          [ngClass]="{
            'text-red-600': stock.quantite <= 1,
            'text-yellow-600': stock.quantite > 1
          }"
                  >
          {{ stock.quantite }}
        </span>

                </div>

                <!-- Barre de progression -->
                <div class="w-64 h-2 bg-gray-200 rounded-full overflow-hidden mt-3">

                  <div
                          class="h-full rounded-full transition-all duration-500"
                          [style.width.%]="stock.quantite * 20"
                          [ngClass]="{
      'bg-red-500': stock.quantite <= 1,
      'bg-yellow-500': stock.quantite > 1
    }"
                  ></div>

                </div>

              </div>

            </div>

            <!-- Badge -->
            <div>

    <span
            class="px-5 py-2 rounded-full text-sm font-bold flex items-center gap-2"
            [ngClass]="{
        'bg-red-100 text-red-700': stock.quantite <= 1,
        'bg-yellow-100 text-yellow-700': stock.quantite > 1
      }"
    >

      <i
              [ngClass]="{
          'ri-close-circle-line': stock.quantite <= 1,
          'ri-error-warning-line': stock.quantite > 1
        }"
      ></i>

      {{ stock.quantite <= 1 ? 'CRITIQUE' : 'ALERTE' }}

    </span>

            </div>

          </div>

        </div>

    </div>

  </div>
</div>